Client assertions are input to access token request, not output in the access token itself

**Section Number** Throughout, but start with 34.4.1.1, 3.71, 3.72

**Issue**
IUA is making a fundamental error in how it uses SAML or JWT client assertions that contain client claims based on XSPA (e.g. purpose of use).

In OAuth, client assertions may be passed as input to the access token request to serve as client authentication, providing the authz server with more information for making their access decision. In IUA, they are returned in the access token response instead, and then passed to the resource server, who then has to make the access decision. This is missing the point of OAuth, which is to delegate the access decision.

This mechanism is described in the following RFCs:
- RFC 7521: provides the abstract framework for using Assertions for Client Authentication
-- https://tools.ietf.org/html/rfc7521#section-4.2
- RFC 7522: profiles this with SAML
- RFC 7523: profiles this with JWT

IUA does reference 7522 and 7523, but incorrectly:
- IUA 3.71.4.2.2.2 SAML Token Option: “In accordance with [RFC7522, Section 2.2], the value of the access token contains a SAML 2.0 Assertion.”
- But RFC 7522 doesn’t say that. It uses a SAML assertion to REQUEST an access token. From the Introduction: "This specification profiles the OAuth Assertion Framework [RFC7521] to define an extension grant type that uses a SAML 2.0 Bearer Assertion to request an OAuth 2.0 access token as well as for use as client credentials."

- IUA 34.4.1.1 Authorization Grant Types: "SAML Client or User Assertions [RFC7522]:....This type of grant may be used to exchange a XUA Compliant SAML 2.0 assertion to a token format preferred by the Authorization Server."
- RFC 7522 does not describe converting an assertion from one format to another. It defines an assertion as input to the access decision.

- IUA 34.4.1.1 Authorization Grant Types: "The SAML and JWT grants from RFC7522 and RFC7523 may be used in federation scenarios where an Authorization Server will accept tokens from another Authorization Server as credentials for issuing access tokens."
- This gets to the nub of the problem. IUA is describing the creation of a client assertion as the responsibility of an "Authorization Server". That isn't anything that an OAuth Authorization Server does.

**Proposed Change** 
I am first assuming that the key use case for using client assertions is the client credentials flow, since that is the most common cross-community case. A physician is often not going to have an identity in a neighboring community they need to access, so that community will need to rely on information in an assertion to apply business rules to determine access. But nothing below should cause a problem with the authorization code flow.

The client assertion needs to be passed in the access token request, not returned. This is how others, such as [Epic](https://fhir.epic.com/Documentation?docId=oauth2&section=BackendOAuth2Guide) and [SMART Backend Services](http://hl7.org/fhir/uv/bulkdata/authorization/index.html#protocol-details) do it.

If there is a need to profile the generation and signing of the client assertion, that could be considered, but I'm not sure there is a use case for that. XUA left it unspecified.

If there is a need to skip a separate Authz Server and pass the client assertion directly to the Resource Server (as in XUA) instead of an access token, that should be a separate transaction not necessarily requiring OAuth. There are standards for this, such as RFC 6750 for Bearer, and RFC 7800 for Proof-Of-Possession (i.e. holder of key).

If there is a need to include the client assertion in both the access token request and the generated access token, this should be presented as a use case.

**Priority**: High

This is a misunderstanding. IUA does not adopt the client authentication mechanism described in the RFCs you reference, but only the encoding rules for SAML 2 assertions for the XUA assertion returned by the Authorization Server.  We did this to avoid to copy all the encoding rules from the RFC to IUA. 

Maybe we should mention that explicitly in the text, to avoid this misunderstanding. 


Even if intentional, this is a misuse. It changes the meaning of the basic OAuth workflow. IUA is calling something an Authorization Server which is not. IUA is calling something an access token which is not. Why use OAuth in such a nonstandard way? Using it the right way accomplishes your use cases better and allows for future options to be added in a predictable way by taking advantage of prior work.

These are harsh words and not justified. 

We are very close to the core OAuth 2.1 standard and we use the authorization server and access tokens as foreseen in core OAuth 2.1. Therefore we use the underlying standard in a standard way. You can easily convince yourself if you check the core OAuth standard, putting all the other RFCs aside.    


I apologize; I mean no personal insult. I only wish to align the terms as the underlying standards use them.

Thanks to your explanation during the last weeks meeting I guess I understand better what’s the aim of the issue is. 

As you mentioned in the meeting your intention is to handle delegation of access decisions from the resource servers for policy enforcement. This collides with the scope of the current IUA draft. In IUA the scope is currently set to the same scope as the OAuth 2.x core specification, which is authorization of clients to access data on resource servers on behalf of the users (see draft-ietf-oauth-v2-1-01 Introduction). The scope of IUA is the same and described written in the IUA Introduction and Use Case sections. 

This is not an exceptional but a widely used scope of OAuth 2.x implementations, e.g., in OpenID Connect which implements OAuth 2.x to authorize client applications to access identity data on behalf of the user.   

OAuth 2.x allows access token which convey authorization information (see draft-ietf-oauth-v2-1-01, Section 1.4). In the IUA draft we use this in the JWT and XUA option to convey the authorization information which may also contain user identification data and client claims. Thus the IUA draft is compliant to the core OAuth specification.    

I don’t care much about names which are a matter of convention one gets used to. Thus feel free to propose new names. But I can’t hardly agree to any attempt to doubt the compliance with OAuth 2.x in the text description, since that would blur the text and confuse the readers. 

I’m aware of attempts of vendors to implement access decision from the resource servers to authorization servers using extensions to the OAuth 2.x core specification.  While this might work in special situations it is cumbersome in general. Access decision and policy enforcement in general requires information on the transaction details and sometimes even on the query results which requires a resource server to communicate directly with the authorization server, or adds attack vectors if you have to rely on the client claims alone. 

Such a scope differs a lot from the current IUA scope (although you could implement it on top of the introspection option). If you wan’t to profile such a scope I suggest to add a work item for a new profile, i.e., a profile like SeR with RESTful transactions and JWT messages instead of XACML and Web Services. 